<div>
    <h2 data-translate="trainingApp.courseSection.home.title">Course Sections</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="course-section.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trainingApp.courseSection.home.createLabel">
                        Create new Course Section
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseSectionTitle"><span data-translate="trainingApp.courseSection.courseSectionTitle">Course Section Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reservedOne"><span data-translate="trainingApp.courseSection.reservedOne">Reserved One</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reservedTwo"><span data-translate="trainingApp.courseSection.reservedTwo">Reserved Two</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseId"><span data-translate="trainingApp.courseSection.course">Course</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="courseSection in vm.courseSections track by courseSection.id">
                    <td><a ui-sref="course-section-detail({id:courseSection.id})">{{courseSection.id}}</a></td>
                    <td>{{courseSection.courseSectionTitle}}</td>
                    <td>{{courseSection.reservedOne}}</td>
                    <td>{{courseSection.reservedTwo}}</td>
                    <td>
                        <a ui-sref="course-detail({id:courseSection.courseId})">{{courseSection.courseId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="course-section-detail({id:courseSection.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-section.edit({id:courseSection.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="course-section.delete({id:courseSection.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
