<div>
    <h2 data-translate="trainingApp.sectionContent.home.title">Section Contents</h2>
    <jhi-alert></jhi-alert>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xs-4 no-padding-left">
                <button class="btn btn-primary" ui-sref="section-content.new" >
                    <span class="glyphicon glyphicon-plus"></span>
                    <span  data-translate="trainingApp.sectionContent.home.createLabel">
                        Create new Section Content
                    </span>
                </button>
            </div>
        </div>
    </div>
    <br/>
    <div class="table-responsive">
        <table class="jh-table table table-striped">
            <thead>
                <tr jh-sort="vm.predicate" ascending="vm.reverse" callback="vm.transition()">
                    <th jh-sort-by="id"><span data-translate="global.field.id">ID</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sectionTime"><span data-translate="trainingApp.sectionContent.sectionTime">Section Time</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sectionTitle"><span data-translate="trainingApp.sectionContent.sectionTitle">Section Title</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="sectionContent"><span data-translate="trainingApp.sectionContent.sectionContent">Section Content</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reservedOne"><span data-translate="trainingApp.sectionContent.reservedOne">Reserved One</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="reservedTwo"><span data-translate="trainingApp.sectionContent.reservedTwo">Reserved Two</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th jh-sort-by="courseSectionId"><span data-translate="trainingApp.sectionContent.courseSection">Course Section</span> <span class="glyphicon glyphicon-sort"></span></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="sectionContent in vm.sectionContents track by sectionContent.id">
                    <td><a ui-sref="section-content-detail({id:sectionContent.id})">{{sectionContent.id}}</a></td>
                    <td>{{sectionContent.sectionTime}}</td>
                    <td>{{sectionContent.sectionTitle}}</td>
                    <td>{{sectionContent.sectionContent}}</td>
                    <td>{{sectionContent.reservedOne}}</td>
                    <td>{{sectionContent.reservedTwo}}</td>
                    <td>
                        <a ui-sref="course-section-detail({id:sectionContent.courseSectionId})">{{sectionContent.courseSectionId}}</a>
                    </td>
                    <td class="text-right">
                        <div class="btn-group flex-btn-group-container">
                            <button type="submit"
                                    ui-sref="section-content-detail({id:sectionContent.id})"
                                    class="btn btn-info btn-sm">
                                <span class="glyphicon glyphicon-eye-open"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.view"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="section-content.edit({id:sectionContent.id})"
                                    class="btn btn-primary btn-sm">
                                <span class="glyphicon glyphicon-pencil"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.edit"></span>
                            </button>
                            <button type="submit"
                                    ui-sref="section-content.delete({id:sectionContent.id})"
                                    class="btn btn-danger btn-sm">
                                <span class="glyphicon glyphicon-remove-circle"></span>
                                <span class="hidden-sm-down" data-translate="entity.action.delete"></span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
    <div class="text-center">
        <jhi-item-count page="vm.page" total="vm.queryCount" items-per-page="vm.itemsPerPage"></jhi-item-count>
        <uib-pagination class="pagination-sm" total-items="vm.totalItems" items-per-page="vm.itemsPerPage" ng-model="vm.page" ng-change="vm.transition()"></uib-pagination>
    </div>
</div>
