
<form name="editForm" role="form" novalidate ng-submit="vm.save()">

    <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"
                ng-click="vm.clear()">&times;</button>
        <h4 class="modal-title" id="myAnswerLabel" data-translate="trainingApp.answer.home.createOrEditLabel">Create or edit a Answer</h4>
    </div>
    <div class="modal-body">
        <jhi-alert-error></jhi-alert-error>
        <div class="form-group" ng-show="vm.answer.id">
            <label for="id" data-translate="global.field.id">ID</label>
            <input type="text" class="form-control" id="id" name="id"
                    ng-model="vm.answer.id" readonly />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.answer.answerUsername" for="field_answerUsername">Answer Username</label>
            <input type="text" class="form-control" name="answerUsername" id="field_answerUsername"
                    ng-model="vm.answer.answerUsername"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.answer.answerContent" for="field_answerContent">Answer Content</label>
            <input type="text" class="form-control" name="answerContent" id="field_answerContent"
                    ng-model="vm.answer.answerContent"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.answer.answerCorrect" for="field_answerCorrect">Answer Correct</label>
                <input type="checkbox" name="answerCorrect" id="field_answerCorrect"
                          ng-model="vm.answer.answerCorrect"/>
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.answer.reservedOne" for="field_reservedOne">Reserved One</label>
            <input type="text" class="form-control" name="reservedOne" id="field_reservedOne"
                    ng-model="vm.answer.reservedOne"
                    />
        </div>
        <div class="form-group">
            <label class="control-label" data-translate="trainingApp.answer.reservedTwo" for="field_reservedTwo">Reserved Two</label>
            <input type="text" class="form-control" name="reservedTwo" id="field_reservedTwo"
                    ng-model="vm.answer.reservedTwo"
                    />
        </div>

        <div class="form-group">
            <label data-translate="trainingApp.answer.user" for="field_user">User</label>
            <select class="form-control" id="field_user" name="user" ng-model="vm.answer.userId" ng-options="user.id as user.id for user in vm.users"            >
                <option value=""></option>
            </select>
        </div>
        <div class="form-group">
            <label data-translate="trainingApp.answer.problem" for="field_problem">Problem</label>
            <select class="form-control" id="field_problem" name="problem" ng-model="vm.answer.problemId" ng-options="problem.id as problem.id for problem in vm.problems"            >
                <option value=""></option>
            </select>
        </div>
    </div>
    <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal" ng-click="vm.clear()">
            <span class="glyphicon glyphicon-ban-circle"></span>&nbsp;<span data-translate="entity.action.cancel">Cancel</span>
        </button>
        <button type="submit" ng-disabled="editForm.$invalid || vm.isSaving" class="btn btn-primary">
            <span class="glyphicon glyphicon-save"></span>&nbsp;<span data-translate="entity.action.save">Save</span>
        </button>
    </div>
</form>
